.modal-container{
    .modal-title{
        text-align: center;
    }
    .modal-body{
    .bold{
        font-weight: bold;
    }
}
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    background: rgba(0,0,0,0.7);
  }